on:
  push:
    branches:
      - master
      - main
env:
  DAY_OF_WEEK: Monday
  CLUSTER: 'default'

jobs:
  greeting_job:
    name: "My job name is ${{env.DAY_OF_WEEK}}"
    runs-on: ubuntu-latest
    env:
      Greeting: Hello
    steps:
      - name: "Say Hello Mona it's Monday - ${{env.DAY_OF_WEEK}} - ${{env.CLUSTER}}."
        if: ${{ env.DAY_OF_WEEK == 'Monday' }}
        run: echo "$Greeting $First_Name. Today is $DAY_OF_WEEK!"
        env:
          First_Name: Mona
